/* From Uiverse.io by htwarriors108 */ 
.button11 {
    height: 60px;
    width: 100%;
    background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
    border-radius: 25px;
    animation: animate 1.5s linear infinite;
    border: none;
    cursor: pointer;
  }
  
  .button11, .display, #msg {
    transition: 0.3s;
  }
  
  .button11:active .display {
    background: rgba(255, 255, 255, 0.5);
  }
  
  .button11:active .display #msg {
    -webkit-text-fill-color: #1b1b1b;
  }
  
  .button11:hover {
    scale: 1.15;
    animation: animate 0.7s linear infinite;
    transform: translateY(-15px);
  }
  
  .button11 .display, .button11 span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .button11 .display {
    z-index: 1;
    background-color: #1b1b1b;
    height: 52.5px;
    width: 97%;
    border-radius: 20px;
    text-align: center;
  }
  
  .button11 .display #msg {
    line-height: 52.5px;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 3px;
    background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  @keyframes animate {
    100% {
      filter: hue-rotate(360deg);
    }
  }
  
  .button11 span {
    height: 100%;
    width: 100%;
    background: inherit;
    border-radius: 25px;
  }
  
  .button11 span:first-child {
    filter: blur(15px);
  }
  
  .button11 span:last-child {
    filter: blur(15px);
    transition: 0.3s;
  }
  
  .button11:hover span:last-child {
    width: 110%;
    height: 120%;
  }