@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');
.Merienda-font{
    font-family: "Merienda";
    font-optical-sizing: auto;
    font-weight: 800; /* Bold weight */
    font-style: italic; /* Regular style */
}